@model CenECommerce.Models.User
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>E-Commerce</h1>
    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
    {
        <img src="@Url.Content(Model.Company.Logo)" alt="Image" style="width:200px;height:150px;max-width: 100%; height: auto;" />
    }
    <img src="~/Content/Pictures/ecommerce.jpg" alt="Image" style="width:1000px;height:300px" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>

        <img src="~/Content/Pictures/pic05.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>

        <img src="~/Content/Pictures/pic06.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>

        <img src="~/Content/Pictures/pic07.jpg" />
    </div>
</div>